In [61]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_parquet('bcxlocation_20190701_00.parquet', engine = 'pyarrow')

In [16]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: six>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.12.0)
Requirement already satisfied: numpy>=1.14 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.16.2)

In [17]:
data.head()

,Am Id,Lat,Lon,G City,G Suburb,G Street Name,G Str Num,Loc Region,Fibre Status,Max Cbr Speed,Me Status,Me Classification,Mt Lte
0,42167353,-26.063084,28.2161,KEMPTON PARK,NORKEM PARK X 1,MOOIRIVIER DR,107,GC,(blank),1000,WORKING,Intra-city,LTE
1,42167777,-25.739075,28.241143,PRETORIA,COLBYN,GLYN ST,39,NER,(blank),10000,WORKING,Intra-city,LTE
2,42167819,-25.752564,28.162283,PRETORIA,PRETORIA WEST,SOUTTER ST,303,NER,(blank),(blank),WORKING,Intra-city,LTE
3,42167984,-25.745904,28.189803,PRETORIA,PRETORIA CENTRAL,HELEN JOSEPH ST,230,NER,(blank),10000,WORKING,Intra-city,LTE
4,42167991,-25.747974,28.193603,PRETORIA,PRETORIA CENTRAL,LILIAN NGOYI ST,256,NER,(blank),10000,WORKING,Intra-city,LTE

In [18]:
data.tail()

,Am Id,Lat,Lon,G City,G Suburb,G Street Name,G Str Num,Loc Region,Fibre Status,Max Cbr Speed,Me Status,Me Classification,Mt Lte
24011,78175982,-26.929784,29.233385,STANDERTON,STANDERTON X 4,R546 RD,3288,NER,(blank),(blank),WORKING,Inter-city,(blank)
24012,78178049,-25.996947,27.539418,MAGALIESBURG,BLAAUWBANK 505JQ,R509 KOSTER RD,40,NER,(blank),(blank),N,(blank),(blank)
24013,78181960,-24.192318,30.41567,TRICHARDTSDAL,GA SEKORORO,GA SEKORORO RD,TAN1,NER,(blank),(blank),N,(blank),(blank)
24014,78188472,-27.881245,27.921022,LINDLEY,LINDLEY,KERK ST,21A,CR,(blank),(blank),N,(blank),(blank)
24015,78189899,(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank)

In [19]:
data.shape

(24016, 13)

In [20]:
#Changing blanks to null
data.replace('(blank)', np.nan, inplace=True)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24016 entries, 0 to 24015
Data columns (total 13 columns):
Am Id                24016 non-null int64
Lat                  24015 non-null object
Lon                  24015 non-null object
G City               24015 non-null object
G Suburb             24015 non-null object
G Street Name        24015 non-null object
G Str Num            24015 non-null object
Loc Region           23993 non-null object
Fibre Status         1230 non-null object
Max Cbr Speed        5331 non-null object
Me Status            23990 non-null object
Me Classification    18276 non-null object
Mt Lte               12442 non-null object
dtypes: int64(1), object(12)
memory usage: 2.4+ MB

In [22]:
data.isnull().sum()

Am Id                    0
Lat                      1
Lon                      1
G City                   1
G Suburb                 1
G Street Name            1
G Str Num                1
Loc Region              23
Fibre Status         22786
Max Cbr Speed        18685
Me Status               26
Me Classification     5740
Mt Lte               11574
dtype: int64

In [23]:
# Checking unique values
def uniques_dic(df):
    dic = {}
    
    for i in df:
        if len(df[i].unique()) < 50:
            dic[i] = list(df[i].unique())
            
    return dic

In [24]:
uniques_dic(data)

{'Loc Region': ['GC', 'NER', 'WR', 'CR', 'ER', 'SR', nan],
 'Fibre Status': [nan,
  'WORKING',
  'PLANNED',
  'PROPOSED',
  'BUILT SPL',
  'WORKING CSS',
  'PREORDER',
  'WORKING OPENACCESS'],
 'Max Cbr Speed': ['1000',
  '10000',
  nan,
  '4000',
  '8000',
  '40000',
  '3000',
  '2000',
  '1024',
  '9000',
  '4096',
  '5000',
  '6000',
  '7000',
  '2048',
  '1',
  '3072',
  '512',
  '2046'],
 'Me Status': ['WORKING', 'N', 'BUILD', 'PLANNED', nan],
 'Me Classification': ['Intra-city',
  nan,
  'Inter-city',
  'Inter-city?',
  'Intra-city?',
  'na'],
 'Mt Lte': ['LTE', nan]}

In [25]:
# How many uniques per column
def uniques_len(df):
    dic_len = {}
    
    for i in df:
        dic_len[i] = len(df[i].unique())
        
    return dic_len

In [26]:
uniques_len(data)

{'Am Id': 24016,
 'Lat': 20898,
 'Lon': 20906,
 'G City': 1136,
 'G Suburb': 6054,
 'G Street Name': 9573,
 'G Str Num': 5137,
 'Loc Region': 7,
 'Fibre Status': 8,
 'Max Cbr Speed': 19,
 'Me Status': 5,
 'Me Classification': 6,
 'Mt Lte': 2}

In [27]:
sites = data.copy()[['Am Id', 'Lat', 'Lon', 'G City', 'G Suburb', 'G Street Name', 'G Str Num']]
sites.tail()

,Am Id,Lat,Lon,G City,G Suburb,G Street Name,G Str Num
24011,78175982,-26.929784,29.233385,STANDERTON,STANDERTON X 4,R546 RD,3288
24012,78178049,-25.996947,27.539418,MAGALIESBURG,BLAAUWBANK 505JQ,R509 KOSTER RD,40
24013,78181960,-24.192318,30.41567,TRICHARDTSDAL,GA SEKORORO,GA SEKORORO RD,TAN1
24014,78188472,-27.881245,27.921022,LINDLEY,LINDLEY,KERK ST,21A
24015,78189899,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
sites = sites[:-1]

In [47]:
sites.tail()

,Am Id,Lat,Lon,G City,G Suburb,G Street Name,G Str Num
24010,78170442,-25.688503,31.785048,KAMHLUSHWA,TONGA VILLAGE,MAIN D797 RD,1A
24011,78175982,-26.929784,29.233385,STANDERTON,STANDERTON X 4,R546 RD,3288
24012,78178049,-25.996947,27.539418,MAGALIESBURG,BLAAUWBANK 505JQ,R509 KOSTER RD,40
24013,78181960,-24.192318,30.41567,TRICHARDTSDAL,GA SEKORORO,GA SEKORORO RD,TAN1
24014,78188472,-27.881245,27.921022,LINDLEY,LINDLEY,KERK ST,21A

In [48]:
sites['Address'] = sites['G Str Num'] + ' ' + sites['G Street Name'] + ' ' + sites['G Suburb'] + ', ' + sites['G City']

In [49]:
sites.tail()

,Am Id,Lat,Lon,G City,G Suburb,G Street Name,G Str Num,Address
24010,78170442,-25.688503,31.785048,KAMHLUSHWA,TONGA VILLAGE,MAIN D797 RD,1A,"1A MAIN D797 RD TONGA VILLAGE, KAMHLUSHWA"
24011,78175982,-26.929784,29.233385,STANDERTON,STANDERTON X 4,R546 RD,3288,"3288 R546 RD STANDERTON X 4, STANDERTON"
24012,78178049,-25.996947,27.539418,MAGALIESBURG,BLAAUWBANK 505JQ,R509 KOSTER RD,40,"40 R509 KOSTER RD BLAAUWBANK 505JQ, MAGALIESBURG"
24013,78181960,-24.192318,30.41567,TRICHARDTSDAL,GA SEKORORO,GA SEKORORO RD,TAN1,"TAN1 GA SEKORORO RD GA SEKORORO, TRICHARDTSDAL"
24014,78188472,-27.881245,27.921022,LINDLEY,LINDLEY,KERK ST,21A,"21A KERK ST LINDLEY, LINDLEY"

In [62]:
import geopy.distance
import itertools
import folium

In [31]:
len(sites)

24015

In [32]:
def site_loc_tuples(df):
    locations = {}
    for (x, y, z) in zip(df['Am Id'], df['Lat'], df['Lon']):
        locations[str(x)] = (y, z)
    return locations

In [38]:
loc = site_loc_tuples(sites)

In [39]:
def get_km(df, x):
    '''From a dataframe df calculate the distance in kms from a selected site to every other site in the dataframe.
    
    Parameters:       
            df = Dataframe you will use
            x = index of selected/current site
    '''
    
    distances = []
    current_site = str(df['Am Id'][x])
    for i in df.index:
        other_site = str(df['Am Id'][i])
        distances.append(geopy.distance.distance(loc[current_site], loc[other_site]))
        
    dist_df = pd.DataFrame(distances, columns=[current_site], index=df['Am Id'])
                         
    return dist_df

In [40]:
get_km(sites, 0)

                       42167353
Am Id
42167353                 0.0 km
42167777   35.98341911185172 km
42167819   34.82148500850844 km
42167984   35.23792350991791 km
42167991   34.98264889147702 km
42168002   35.22303782975286 km
42168096  35.763404990031056 km
42168109  34.611047329416955 km
42168158  35.139427259366094 km
42168184   35.07471620777158 km
42168191   35.83576418979727 km
42168234   34.58402737971947 km
42168236  34.160061749891995 km
42168315  35.241262141134825 km
42168438  35.437068583575666 km
42168495   35.01526813467423 km
42168525   34.58402737971947 km
42169905  1251.4108741430907 km
42170448  1188.7828588972013 km
42170635  1189.4468374723149 km
42170654   1189.307242622852 km
42170662   1189.036791052116 km
42170685  1189.3550711958787 km
42170813   599.9407975643041 km
42172322   394.1743214237469 km
42172669  421.79641108079954 km
42172706  421.37428455886163 km
42172712   421.7561703550587 km
42172718  421.40690557620513 km
42172787  421.67369735472494 km
...                         ...
78148956  217.57792714111707 km
78148979   44.34431782813503 km
78149584   19.80305668095635 km
78149585   36.51904441614064 km
78149765  280.62568218109516 km
78150233  12.964794384917884 km
78151184  12.741944550019547 km
78151893  484.38716697197026 km
78151928   786.3649524951453 km
78151931   616.0005399242964 km
78152346  448.08987093492954 km
78152620   1225.679691189673 km
78153861  36.240376915732725 km
78154658   541.1524530623699 km
78155401  16.991205191607808 km
78156156   29.30788048778939 km
78156159  103.17209460326669 km
78156161  1015.1384766822455 km
78157151   46.37149902859377 km
78162483   315.8256700501109 km
78164906  105.03404802271636 km
78166786   893.4601514823671 km
78167700   1277.889578645477 km
78169945  1282.7252382836014 km
78170229   628.7797976465939 km
78170442  360.07703156595755 km
78175982  139.66385186389377 km
78178049   68.12573050263191 km
78181960   303.5460217450933 km
78188472  203.57647311363348 km

[24015 rows x 1 columns]

In [54]:
def get_nearby(df, x, k):
    '''Get all nearby sites from a selected site from a dataframe df that fall within a km radius of x
    Parameters:
            df = Dataframe in use
            x = index of selected/current site
            k = Maximum distance(km) defining nearby sites'''
    
    distances = []
    nearby = []
    current_site = str(df['Am Id'][x])
    
    for i in df.index:
        other_site = str(df['Am Id'][i])
        if geopy.distance.distance(loc[current_site], loc[other_site]) < k:
            nearby.append(other_site)
            distances.append(geopy.distance.distance(loc[current_site], loc[other_site]))
            
    addresses = [df[['Am Id', 'Lat', 'Lon', 'Address']][df['Am Id']==i] for i in df['Am Id'] if str(i) in nearby]
    address_df = addresses[0]
    for i in range(1, len(addresses)):
        address_df = pd.concat([address_df, addresses[i]], axis=0)
        
    address_df['Distance'] = distances
    
    return address_df

In [55]:
get_nearby(sites, 0, 1)

,Am Id,Lat,Lon,Address,Distance
0,42167353,-26.063084,28.2161,"107 MOOIRIVIER DR NORKEM PARK X 1, KEMPTON PARK",0.0 km
611,42365346,-26.061924,28.216082,"110 MOOIRIVIER DR NORKEM PARK X 1, KEMPTON PARK",0.12852780429344815 km
612,42365558,-26.063114,28.2199,"84 QUINTUS VAN DER WALT DR NORKEM PARK X 1, KE...",0.38025836702851545 km
16285,47639234,-26.062669,28.215973,"109 MOOIRIVIER DR NORKEM PARK X 1, KEMPTON PARK",0.04770136840082116 km

In [63]:
def plot_nearby_sites(ID, radius): # do not exceed 1 km
    
    table = get_nearby(sites, ID, radius)
    first_point = table.iloc[0, :]
    
    maps = folium.Map(location = (first_point['Lat'], first_point['Lon']), 
                      tiles='Stamen Terrain', zoom_start=14)
    
    for i in range(0, len(table)):
        folium.Marker((table.iloc[i]['Lat'], table.iloc[i]['Lon']), popup= 
                     table.iloc[i]['Address']).add_to(maps)
    
    return display(maps)

In [68]:
plot_nearby_sites(612, 1)